.discourse-tags a.discourse-tag.box {
    background-color: #ED207B;
    color: #FEFEFE;
    padding-top: 0px;
    padding-bottom: 1px;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.topic-header-extra > .discourse-tags > a.discourse-tag.box {
    background-color: #ED207B;
    color: #FEFEFE !important;
    padding-top: 0px;
    padding-bottom: 1px;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

